#Contenedor{
    width: 1000px;
    padding-bottom: 50px;
    border: 3px solid black;
}
header h1{
        text-align: center;
    }

label{
    margin-left: 10px;
    font-size: 25px;
}

#Productos{
    display: flex;
}
#Producto-numero{
    margin-left: 37px;
    padding: 10px 20px;
    font-size: 20px;
}
#Cantidad{
    margin-top: 10px;
    display: flex;
}
#Cantidad-numero{
    margin-top: 10px;
    margin-left: 14px;
    padding: 10px 20px;
    font-size: 20px;

}
#PrecioNeto-div{
    margin-top: 10px;
    margin-left: 212px;
    padding: 10px 20px;
    font-size: 20px;
}
#Estado-codigo{
    margin-top: 10px;
    margin-left: 126px;
    padding: 10px 20px;
    font-size: 20px;
}
#Impuesto-div{
    margin-top: 10px;
    margin-left: 236px;
    padding: 10px 20px;
    font-size: 20px;

}
#Descuento-div{
    margin-top: 10px;
    margin-left: 225px;
    padding: 10px 20px;
    font-size: 20px;
}
#PrecioTotal-div{
    margin-top: 10px;
    margin-left: 210px;
    padding: 10px 20px;
    font-size: 20px;
}
#Error{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 30px;
    color: red;
}
#Cancelar-button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(208, 25, 25);
    cursor: pointer;
}
#Confirmar-button {
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(25, 208, 55);
    cursor: pointer;
}
#Mensaje-confirmacion{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 30px;
    color: black;
}
#Categoria-producto{
    margin-top: 10px;
    margin-left: 100px;
    padding: 10px 20px;
    font-size: 20px;
}
#DescuentoCategoria-div{
    margin-top: 10px;
    margin-left: 87px;
    padding: 10px 20px;
    font-size: 20px;
}
#ImpuestoCategoria-div{
    margin-top: 10px;
    margin-left: 105px;
    padding: 10px 20px;
    font-size: 20px;
}
#CostoEnvio-div{
    margin-top: 10px;
    margin-left: 70px;
    padding: 10px 20px;
    font-size: 20px;
}

#Peso-numero{
    margin-top: 10px;
    margin-left: 40px;
    padding: 10px 20px;
    font-size: 20px;
}

#CostoEnvioTotal-div{
    margin-top: 10px;
    margin-left: 130px;
    padding: 10px 20px;
    font-size: 20px;
}
#TipoCliente-select{
    margin-top: 10px;
    margin-left: 180px;
    padding: 10px 20px;
    font-size: 20px;
}
#DescuentoEnvio-div{
    margin-top: 10px;
    margin-left: 130px;
    padding: 10px 20px;
    font-size: 20px;
}
#CostoEnvioFinal-div{
    margin-top: 10px;
    margin-left: 130px;
    padding: 10px 20px;
    font-size: 20px;

}
#DescuentoEspecial-div{
    margin-top: 10px;
    margin-left: 70px;
    padding: 10px 20px;
    font-size: 20px;
}